{% extends "base.html" %}

{% block scripts %}
  <script type="module" src="/static/js/blog-card.js"></script>
{% endblock scripts %}

{% block title %}Blog — A Lloyd Flanagan{% endblock title %}

{% block page_styles %}
  <style>
    blog-card {
      display: block;
      margin-top: 30px;
    }

    blog-card:first-child {
      margin-top: 0;
    }
  </style>
{% endblock page_styles %}

{% block content %}
  {% for post in blogfiles %}
    <blog-card id="post-{{ post | replace('.md', '') }}" src="/content/blog/{{ post }}"></blog-card>
  {% endfor %}
{% endblock content %}
